.Example {
  color: var(--primary-color);
  margin: 5px 0 8px 20px;
  opacity: 0.8;
}
@media (max-width: 321px) {
  .Example {
    color: var(--primary-color);
    margin: 5px 0 8px 0px;
    opacity: 0.8;
  }
}
