.Phonetics .phoneticWritten {
  color: var(--secondary-color);
  font-family: var(--body-font);
  padding-left: 4px;
}
.Phonetics .phoneticAudio {
  margin-top: 3px;
}
@media (max-width: 321px) {
  .Phonetics .player {
    max-width: 200px;
  }
}
