.Synonyms .synonymHeading {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  margin-top: 7px;
  margin-left: 20px;
}
.Synonyms {
  margin: 7px 0;
}
.Synonyms li {
  border: 1px dotted var(--tertiary-color);
  border-radius: 5px;
  color: var(--primary-color);
  display: inline-block;
  font-size: 16px;
  padding: 0 15px;
  margin: 5px 15px;
  text-align: center;
}
@media (max-width: 321px) {
  .Synonyms .synonymHeading {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    margin-top: 7px;
    margin-left: 0px;
  }
  .Synonyms li {
    border: 1px dotted var(--tertiary-color);
    border-radius: 5px;
    color: var(--primary-color);
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    margin: 5px 8px;
    text-align: center;
  }
}
